<style>
    input[type="radio"]:checked + label {
        background-color: orange;
        color: white;
    }
</style>

<dialog class="p-6 w-1/2 h-1/2">
    <button autofocus>
        <svg width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
            <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
            ></path>
        </svg>
    </button>
    <!-- <form action="/stripe-checkout" method="POST"> -->
    <!-- <p class="my-2">1. Donation period:</p>
        <div class="flex gap-2">
            <input type="radio" id="one-time" name="interval" value="one-time" class="hidden" />
            <label
                for="one-time"
                class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer">One time</label
            >

            <input type="radio" id="monthly" name="interval" value="monthly" class="hidden" />
            <label
                for="monthly"
                class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer">Monthly</label
            >

            <input type="radio" id="yearly" name="interval" value="yearly" class="hidden" />
            <label for="yearly" class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer"
                >Yearly</label
            >
        </div>
        <div>
            <p class="my-2">2. Donation amount:</p>
            <div class="flex gap-2">
                <input type="radio" id="5" name="donation" value="5" class="hidden" />
                <label for="5" class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer"
                    >5$</label
                >

                <input type="radio" id="10" name="donation" value="10" class="hidden" />
                <label for="10" class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer"
                    >10$</label
                >

                <input type="radio" id="25" name="donation" value="25" class="hidden" />
                <label for="25" class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer"
                    >25$</label
                >

                <input type="radio" id="50" name="donation" value="50" class="hidden" />
                <label for="50" class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer"
                    >50$</label
                >

                <input type="radio" id="custom" name="donation" value="custom" class="hidden" />
                <label
                    for="custom"
                    class="flex-1 text-center px-6 py-3 border-2 border-orange rounded hover:bg-orange hover:text-white duration-300 cursor-pointer"
                    >Custom</label
                >
            </div>
        </div>
        <div id="donationAmountDiv" class="relative rounded-md shadow-sm mt-2" style="display: none;">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <span class="text-lightGray text-sm">$</span>
            </div>
            <input
                type="number"
                id="donationAmount"
                step="0.5"
                min="0.5"
                class="w-full rounded-md py-1.5 pl-7 pr-12 text-black ring-1 ring-inset ring-[#858ebe] placeholder:text-lightGray outline-none focus:ring-orange text-sm leading-6"
                placeholder="0,50"
                name="amount"
            />
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                <span class="text-lightGray text-sm">USD</span>
            </div>
        </div> -->
    <button id="testBtn">Submit</button>
    <!-- </form> -->
</dialog>

<script>
    const dialog = document.querySelector("dialog");
    const showButton = document.querySelector("#donateBtn");
    const closeButton = document.querySelector("dialog button");

    // "Show the dialog" button opens the dialog modally
    showButton.addEventListener("click", () => {
        dialog.showModal();
    });

    // "Close" button closes the dialog
    closeButton.addEventListener("click", () => {
        dialog.close();
    });

    // window.onload = function () {
    //     var radios = document.getElementsByName("donation");
    //     var inputDiv = document.getElementById("donationAmountDiv");

    //     for (var i = 0; i < radios.length; i++) {
    //         radios[i].addEventListener("change", function () {
    //             inputDiv.style.display = this.value === "custom" ? "block" : "none";
    //         });
    //     }
    // };

    document.querySelector("#testBtn").addEventListener("click", () => {
        pay();
    });
    function pay() {
        fetch("/stripe-checkout", { method: "POST", body: JSON.stringify({ amount: 55, interval: "subscription", currency: "USD" }) })
            .then((res) => res.json())
            .then((res) => {
                if (!res.success) {
                    console.error(res.error);
                    return;
                }

                // Redirect to Stripe's payment page
                // @ts-ignore
                window.location = res.data.redirect_url;
            })
            .catch((e) => {
                console.error(e);
            });
    }
</script>
