<!-- Remove bg when all the way on top -->
<header class="fixed inset-x-0 top-0 z-20 bg-[#424769] text-white">
    <nav class="text-center container mx-auto my-8 px-6">
        <a href="/" class="font-black text-xl">Brand Name</a>
    </nav>
    <hr class="" />
</header>

<!-- JS for the header shadow on scroll -->
<!-- <script>
    window.addEventListener("load", function () {
        var header = document.querySelector("header");
        var toggleHeaderBg = function () {
            if (window.scrollY >= 50) {
                header.classList.add("bg-black");
            } else {
                header.classList.remove("bg-black");
            }
        };
        toggleHeaderBg();
        window.addEventListener("scroll", toggleHeaderBg);
    });
</script> -->
