---
const { title } = Astro.props;
import Footer from "@/components/footer.astro";
import "@/styles/globals.css";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Astro description" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="text-black">
        <main>
            <slot />
        </main>
        <!-- <Footer /> -->
    </body>
</html>
